html,
body {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	z-index: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}



.modal {
	display: none; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}


.modal-content {
	position: relative;
	margin: 2% 15% 0 15%;
	width: 70%;
	height: 70%;
}

.arrow {
	cursor: pointer;
	z-index: 2;
	width: 20px;
	height: 75px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: 0.5s;
	opacity: 0.6;
}

.arrow:hover {
	opacity: 1;
	width: 25px;
	height: 80px;
}

#arrow-left {
	background-image: url('images/left.png'); 
	left:0;
	margin-left: 10px;

}

#arrow-right {
	background-image: url('images/right.png'); 
	right: 0;
	margin-right: 10px;
}

#close-btn {
	background-image: url('images/close.png'); 
	right: 5%;
	cursor: pointer;
	z-index: 2;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 100%;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#slider:after {
	content: 'медиа режим активирован';
	position: absolute;
	bottom: -35px;
	margin-left: 100%;
	text-transform: uppercase;
	transition: 1s;
	opacity: 0;
}

#slider.slider-active:after{
	margin-left: 40%;
	opacity: 1;
}

#slider.slider-postactive:after{
	opacity: 0;
}



#slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slides {
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	margin-left: 100%;
	width: 10000px;
}

.slide {
	float: left;
	list-style-type: none;
	position: relative;
	height: 100%;
	margin-right: 10px;
}

.slide:last-child{
	margin-right: 0;
}

.arrow-menu {
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 40px;
	right: 0;
	top:0;
	opacity: 0.65;
	transition: 0.5s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url('images/menu.png'); 
	/* transform: rotate(180deg); */
}

.arrow-menu:hover {
	opacity: 1;
}

.slide-menu {
	opacity: 0; /* opacity: 0.369; */
	width: 293px;
	height: 477px;
	filter: blur(4px);
	background-color: #fff;
	position: absolute;
	right: -293px;
	z-index: 1;
}

.slide-menu-content {
	width: 293px;
	height: 477px;
	position: absolute;
	right: -293px;
	opacity: 0;
	z-index: 1;
	/* overflow: scroll; */
}

.slide-menu-content h1 {
	margin: 8px 0 38px 0;
	color: #fff;
	text-align: center;
	font-size: 18px;
	text-shadow: 1px 1.732px 5px rgba(0, 0, 0, 0.75);
	text-transform: uppercase;
}

.slide-menu-content p {
	color: #fff;
	margin: 0 0 20px 30px;
	font-size: 15.5px;
	text-shadow: 1px 1.732px 5px rgba(0, 0, 0, 0.75);
	text-transform: uppercase;
	cursor: pointer;
}

.unactive {
	opacity: 0.6;
	cursor: default !important;
}

.slide-menu-content p>span{
	font-size: 12px;
}


.slide img {
	height: 100%;
	width: auto;
	z-index: 0;
}

.menu-point {
	height: 100%;
	width: 318px;
	background-color: #fff;
	position: absolute;
	right: -318px;
	top:0;
	opacity: 0;
	z-index: 2;
}

/* Мини слайдер */	

.mini-arrow {
	cursor: pointer;
	z-index: 2;
	width: 10px;
	height: 45px;
	position: absolute;
	top: 50%;
	margin-top: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: 0.5s;
	opacity: 0.6;
}

.mini-arrow:hover {
	opacity: 1;
	width: 15px;
	height: 55px;
}

#mini-arrow-left {
	background-image: url('images/left.png'); 
	left:0;
	margin-left: 10px;

}

#mini-arrow-right {
	background-image: url('images/right.png'); 
	right: 0;
	margin-right: 10px;
}

#mini-slider {
	width: 100%;
	height: 25%;
	z-index: 1;
	position: absolute;
	top: 75%;
	opacity: 0; /* 0 */
	overflow: hidden;
	transition: 0.5s;
}



.mini-slides {
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	margin-left: 100%;
}

.mini-slide {
	float: left;
	list-style-type: none;
	height: 50%;
	margin-right: 10px;
	margin-top: 6.9%;
	transition: 0.5s;
}

.mini-slide:last-child{
	margin-right: 0;
}

.mini-slide img {
	height: 100%;
	width: auto;
}

.mini-slide:hover {
	margin-top: 0;
	height: 100%;
}

/* Галерея */

.gallery {
	width: 70%;
	height: 70%;
	margin: 2% 15% 0 15%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
	justify-items: center;

}

.showModal {
	margin-top: 25px;
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	cursor: pointer;
}

.image1 {
	background-image: url('images/1 (1).jpg');
}
.image2 {
	background-image: url('images/1 (2).jpg');
}
.image3 {
	background-image: url('images/1 (3).jpeg');
}
.image4 {
	background-image: url('images/1 (4).jpeg');
}
.image5 {
	background-image: url('images/1 (5).jpeg');
}
.image6 {
	background-image: url('images/1 (6).jpeg');
}
.image7 {
	background-image: url('images/1 (7).jpeg');
}


